<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some primitive blog</title>
</head>
<body>
    <style>
        .post {
            border: 1px solid #aaaaaa;
            border-bottom: 4px solid gray;
            box-shadow: 4px 4px 2px 2px #aaaaaa;
            margin-bottom: 10px;
            padding: 5px 10px;
        }
        h1 {
            text-align: center;
        }
    </style>

    <div>
        <h1><a href="">Romanov S.S.'s Simple Blog</a></h1>
    </div>

    <div class="post">
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div class="post">
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>
</body>
</html>